{:builds       {:app {:asset-path "/js"
                      :modules    {:main {:init-fn app.core/init}}
                      :output-dir "public/js"
                      :target     :browser
                      :http-root  "public"
                      :release {:output-dir "docs/js"}}}
 :dependencies [[cljs-http "0.1.46"]
                [reagent "0.10.0"]
                [re-frame "0.12.0"]]
 :dev-http     {3000 "docs"}
 :source-paths ["src"]}